.card{
  width: 320px;
  height: 200px;
  border-radius: 10px;
  margin: 10px;
}

.card h1{
  text-align: center;
  margin-top: 50px;
  font-size: 20px;
}

.card ul{
  margin: 30px 50px 0px;
}


.app{
  display: flex;
  flex-wrap: wrap;
}

button{
  cursor: pointer;
  width: 60%;
  margin: 10px auto;
  height: 35px;
  border-radius: 5px;
  border: 0;
  color:white;
  background-color: blueviolet;
  padding: 10px;
}

button:hover{
  background-color: darkorchid;
  transition: all;
}

.bg-green{
  background-color: rgb(150, 228, 140);
}
.bg-red{
  background-color: rgb(228, 140, 174);
}
.bg-blue{
  background-color: rgb(140, 175, 228);
}
.bg-orange{
  background-color: rgb(228, 193, 140);
}
.bg-yellow{
  background-color: rgb(228, 228, 140);
}

