.card{
  width: 280px;
  height: 200px;
  border-radius: 10px;
  margin: 10px;
}

.card h2{
  text-align: center;
  margin-top: 50px;
}

.card ul{
  margin: 30px 50px 0px;
}
.bg-blue{
  background-color: rgb(18, 140, 240);
}
.bg-green{
  background-color: rgb(30, 156, 98);
}
.bg-red{
  background-color: rgb(231, 87, 147);
}
.bg-yellow{
  background-color: rgb(231, 229, 87);
}

.app{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

button{
  cursor: pointer;
  width: 60%;
  margin: 10px auto;
  height: 35px;
  border-radius: 5px;
  border: 0;
  color:white;
  background-color: blueviolet;
  padding: 10px;
}

button:hover{
  background-color: darkorchid;
  transition: all;
}

